site_name: chen
site_description: "A Material Design theme for MkDocs"
site_author: "chen"
site_url: "https://chenpenghuan.github.io"
copyright: "Copyright © 2021"
nav:
  - 工具:
      [
        tools/git.md,
        tools/mkdocs.md,
        tools/macos.md,
        tools/zsh.md,
        tools/港区appleId注册.md,
        tools/idea激活.md,
        tools/ai.md,
      ]
  - 开发:
      [
        develop/k8s.md,
        develop/java.md,
        develop/springboot.md,
        develop/mybatis.md,
        develop/docker.md,
        develop/面试题.md,
      ]
  - 其他:
      [
        other/aws压缩图片.md,
        other/使用gmail发送邮件验证码.md,
        other/工具推荐.md,
      ]
  - 关于: about.md
plugins:
  - search
  - git-revision-date-localized
theme:
  name: "material"
  custom_dir: "themes/material"
  language: "zh"
  palette:
    primary: "white"
    accent: "Cyan"
  font:
    text: "Ubuntu"
    code: "Ubuntu Mono"
  logo:
    icon: "\uE80C"
  feature:
    tabs: false
extra_javascript:
  - js/raphael.min.js
  - js/underscore-min.js
  - js/sequence-diagram-min.js
  - js/flowchart.min.js
  - js/umlconvert.js
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_div_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_div_format
extra_css:
  - css/mermaid.min.css
